<!DOCTYPE html>

<head>
  <link rel="icon" href="assets/favicon.ico" />
  <title>Mangus Wedding</title>
  <link rel="stylesheet" type="text/css" href="/css/shared.css" />
  <script src="/assets/htmx.min.js"></script>
  <script src="/assets/response-targets.js"></script>
</head>
<body>
  <div class="full-screen" id="home-page">
    <div class="navbar">
      <div
        class="navbar-item first"
        id="travel"
        hx-get="/travel"
        hx-push-url="true"
        hx-target="#home-page"
        hx-swap="outerHTML"
      >
        Information
      </div>
      <div></div>
      <div
        class="navbar-item"
        hx-get="/rsvp"
        hx-push-url="true"
        hx-target="#home-page"
        hx-swap="outerHTML"
      >
        RSVP
      </div>
      <div></div>
      <a
        style="text-decoration: none;"
        class="navbar-item last"
        target="_blank"
        href="https://registry.theknot.com/kiersten-edwards-michael-mangus-october-2024-ky/67020282"
      >
        Registry
    </a>
    </div>
  </div>
</body>
