<!DOCTYPE html>

<head>
  <title>Information</title>
  <link rel="stylesheet" type="text/css" href="/css/shared.css" />
  <script src="/assets/htmx.min.js"></script>
</head>
<body>
  <h1 class="page-title">Information</h1>
  <div>
    <h2 class="information-header" style="margin-top: 0">When</h2>
    <hr />
    <p class="information-text">Friday, October 11th, 2024 at 6:00 PM</p>
    <h2 class="information-header">Where</h2>
    <hr />
    <p class="information-text">
      <a
        target="_blank"
        href="http://maps.apple.com/?q=Headquarter+Historic+Event+Venue%26daddr=935+Monmouth+Street%2C+Newport%2C+KY%2C+41071"
        >Headquarters Wedding and Event Venue<br />
        935 Monmouth St<br />
        Newport, KY, 41071</a
      >
    </p>
    <h2 class="information-header">Accomadations</h2>
    <hr />
    <p class="information-text">
      We have reserved a block of hotel rooms at the Aloft for both Thursday,
      October 10th and Friday, October 11th. The hotel is only 0.7 miles away.
      You may
      <a
        target="_blank"
        href="https://www.marriott.com/events/start.mi?id=1704723903596&key=GRP"
        >book your rooms here.
      </a>
    </p>

    <p class="information-text" style="color: red">
      **Any unbooked rooms will be released to the general public 30 days before
      the wedding (September 11th)** Please plan ahead to ensure you get a room
      if you need one.
    </p>
    <a
      href="http://maps.apple.com/?saddr=Aloft+Newport+on+the+Levee,201+3rd+street+newport+ky+41071&daddr=Headquarters+Wedding+and+Event+Venue,935+monmouth+strett+newport+ky+41071"
    >
    </a>
    <h2 class="information-header">FAQ</h2>
    <hr />
    <ul class="faq-list">
      <li>Do I have a plus one?</li>
      <div class="faq-response">
        <p>
          Whether or not you have a plus one will be clearly marked when you
          <a href="/rsvp">RSVP</a>. If you're still not sure, just ask.
        </p>
      </div>

      <li>When do I need to RSVP by?</li>
      <div class="faq-response">
        <p>
          Please try to RSVP by September 8th, 2024.
        </p>
      </div>

      <li>When should I arrive?</li>
      <div class="faq-response">
        <p>
          We recommend arriving 30 minutes early to give yourself ample time
          to park and settle in.
        </p>
      </div>

      <li>Where do I park?</li>
      <div class="faq-response">
        <p>Free public parking is available. See the map below for details:</p>
        <img src="/assets/map.jpg" id="parking-map" />
      </div>

      <li>What should I wear?</li>
      <div class="faq-response">
        <p>Semi-formal or dressy casual attire</p>
      </div>

      <li>
        I have food allergies/dietary restrictions. Will there be options for
        me?
      </li>
      <div class="faq-response">
        <p>
          There will be a spot to provide this information when you RSVP. If you still have concerns, please reach out to one 
          of us directly and we'll be happy to accomodate you.
        </p>
      </div>

      <li>Can we bring our kids?</li>
      <div class="faq-response">
        <p>
          The venue has a limited number of chairs. If your children are small
          enough to sit on your lap, feel free to bring them.
        </p>
      </div>
    </ul>
  </div>
</body>
