<!DOCTYPE html>

<head>
  <title>Travel</title>
  <link rel="stylesheet" type="text/css" href="/css/shared.css" />
  <script src="/assets/htmx.min.js"></script>
</head>
<body>
  <h1 class="page-title">Travel</h1>
  <div id="idk">
    <h2 class="travel-header" style="margin-top: 0">When?</h2>
    <hr />
    <p>Friday, October 11th, 2024</p>
    <h2 class="travel-header">Where?</h2>
    <hr />
    <p>
      <a
        href="http://maps.apple.com/?q=Headquarter+Historic+Event+Venue%26daddr=935+Monmouth+Street%2C+Newport%2C+KY%2C+41071"
        >Headquarters Wedding and Event Venue<br />
        935 Monmouth St. Newport, KY, 41071</a
      >
    </p>
    <h2 class="travel-header">Accomadations</h2>
    <hr />
    <p class="travel-text">
      We have reserved a block of hotel rooms at the Aloft for both Thursday and
      Friday. The hotel is only 0.7 miles away. You can
      <a
        href="https://www.marriott.com/events/start.mi?id=1704723903596&key=GRP"
        >book your rooms here.
      </a>
    </p>

    <p style="color: red">
      **Any unbooked rooms will be released to the general public 30 days before the wedding (September 11th)**
      Please plan ahead to ensure you get a room if you need one.
    </p>
    <a
      href="http://maps.apple.com/?saddr=Aloft+Newport+on+the+Levee,201+3rd+street+newport+ky+41071&daddr=Headquarters+Wedding+and+Event+Venue,935+monmouth+strett+newport+ky+41071"
    >
      <img src="/assets/directions.jpg" id="directions"/>
    </a>
    <h2 class="travel-header">FAQ</h2>
    <hr />
    <ul>
      <li>When do I need to RSVP by?</li>
      <div class="faq-response">
        <p>At least a month before the day of the wedding</p>
      </div>

      <li>When should I arrive?</li>
      <div class="faq-response">
        <p>
          We recommend to arriving 30 minutes early to give yourself ample time
          to park and settle in.
        </p>
      </div>

      <li>Where do I park?</li>
      <div class="faq-response">
        <p>Free public parking is available. See the map below for details:</p>
        <img src="/assets/map.jpg" id="parking-map" />
      </div>

      <li>What should I wear?</li>
      <div class="faq-response">
        <p>Guys: tbd</p>
        <p>Gals: tbd</p>
      </div>

      <li>Do I have a plus one?</li>
      <div class="faq-response">
        <p>
          Whether or not you have a plus one will be clearly marked when you
          <a href="/rsvp">RSVP</a>. If you're still not sure, just ask.
        </p>
      </div>

      <li>
        I have food allergies/dietary restrictions. Will there be options for
        me?
      </li>
      <div class="faq-response">
        <p>
          Please reach out to one of us directly and let us know what you need.
          We'll be happy to accomodate.
        </p>
      </div>

      <li>Can we bring our kids?</li>
      <div class="faq-response">
        <p>
          The venue has a limited number of seats, so if your children are small
          enough to sit on your lap we'd be happy have them.
        </p>
      </div>
    </ul>
  </div>
</body>
